doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="navbar navbar-expand bg-body-tertiary")
      div(class="container-fluid justify-content-center")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav me-auto mb-2 ")
            li(class="nav-item")
              a(class="nav-link active" aria-current="page" href="/v1/api/adminCatalog") Главная (Администрация)
            li(class="nav-item")
              a(class="nav-link" aria-current="page" href="/v1/api/adminCatalog/myProfile") Мой профиль 
            li(class="nav-item")
              a(class="nav-link" aria-current="page" href="/v1/api/adminCatalog/myCompositions") Мои композиции
            li(class="nav-item")
              a(class="nav-link" aria-current="page" href="/v1/api/adminCatalog/myPlaylists") Мои плэйлисты  
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Каталог 
              ul(class="dropdown-menu")
                li
                  a(class="dropdown-item" href="/v1/api/adminCatalog/users") Пользователи 
                li
                  a(class="dropdown-item" href="/v1/api/adminCatalog/janrs") Жанры
                li
                  a(class="dropdown-item" href="/v1/api/adminCatalog/playlists") Плейлисты пользователей
                li
                  a(class="dropdown-item" href="/v1/api/adminCatalog/compositions") Композиции
                li
                  a(class="dropdown-item" href="/v1/api/adminCatalog/roles") Роли пользователей 
                li
                  a(class="dropdown-item" href="/v1/api/adminCatalog/rights") Доступные системные права  
          div(class="d-flex")
            input(class="form-control me-2 searchData" type="text" placeholder="Поиск" aria-label="Поиск") 
            button(class="btn btn-outline-success btn_global_search" type="submit") Найти
    br
    div(class="container text-center")
      div(class="row align-items-start")
        div(class="col-xl-2 col-lg-2 col-md-1 col-sm")
          p Данные 
        div(class="col-xl-8 col-lg-8 col-md-10 col-sm-12")
          block pageRights 
          block pageRoles  
          block pageRolesInfo
          block pageUsers
          block pageUsersInfo 
          block pageJanrs
          block pageJanrInfo
          block admin_listMus
          block adminPage_detailMusic
          block adminPage_myCompositions
          block adminPage_MyMusicDetail
          block admin_myProfile
          block admin_myPlaylists
          block admin_myPlaylistDetail
          block admin_listPlaylists
          block adminPage_detailPlaylist_byUser
          block adminPage_detailPlaylist
          block adminPage_searchList
        div(class="col-xl-2 col-lg-2 col-md-1 col-sm")
          p Данные 2
    //- script(src="/scripts/script.js") 
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous")
    script(src="/javascripts/adminPage.js") 