extends adminPage   

block admin_myPlaylists 

    h1(class="align-middle" style='display: inline; padding-right:10px;')=title

    div(class="content")
        div(class="row g-3")
            div(class="col")
                button(class="btn btn-info addPlaylist" type="submit") Добавить 
        div(class="row")
            div(class="col g-3")
                div(Class="d-grid gap-2")
                    each valPlaylist in dataResult 
                        button(type="button" class="btn btn-outline-secondary btn_valPlaylist_admin_getPlaylist" data-bs-title=valPlaylist.name btn_admin_getPlaylist=valPlaylist.admin_getPlaylist) #{valPlaylist.name}
                    else 
                        p У Вас нет доступных плэйлистов
    br
    div(class="row g-3 block_newplaylist hidden")
        div(class="col")
            p Введите название нового плэйлиста
            input(type="text" class="form-control name_playlist" placeholder="Название плэйлиста" aria-label="Имя" name="name")
        div(class="col")
            button(type="submit" class="btn btn-success btn_createNewPlaylist") Создать 
    div(class="fixed-bottom") 
          div(class="footerText")
            p По всем вопросам можно обращаться ко мне на почту - alexy.alexy98@mail.ru
    script(src="/javascripts/adminPage_MyPlaylists.js") 