doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style_admin.css')
  body
    
    div(class='container-fluid')
      div(class='row justify-content-md-center')
        div(class='col col-lg-2')
          block sidebar 
            ul(class='sidebar-nav list-group' id="list-tab" role="tablist")
              li
                a(class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href='/Home' role="tab" aria-controls="main") Главная 
              li 
                a(class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href='/admin_mod/catalog/tracks' role="tab" aria-controls="main") Треклист
              li 
                a(class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href='/admin_mod/catalog/janrs' role="tab" aria-controls="main") Жанры  
        div(class='col-lg-8')
              .text-center 
                h1 Список разделов
                  .table-directory 
                    ul 
                      table(id="table-directory")
                        tr 
                            td(calss="janrCollomn")
                                a(href="/admin_mod/catalog/janrs") Жанры
                        tr 
                            td(class="trackColomn")
                                a(href="/admin_mod/catalog/tracks/allNotes") Треки
                        tr 
                            td(class="rolsColomn")
                                a(href="/admin_mod/catalog/rols/") Системные роли пользователей
              block janrs
              block janrs_add
              block detal_info_janr_admin
              block delete_janr_by_id
              block update_janr_by_id
              block Note_list
              block track_add 
              block track_detail
              block MusickList
              block detal_info_track_admin
              block delete_track_by_id
              block update_track_by_id 
              block roles 
              block rolesAdd


    //- script(src="/scripts/script.js") 
