html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(calass="main")
      div(class='page-header')
        h1(class='registration') Авторизация
      div 
        p=messageData

    div(calass="formSIGIN") 
      form(action="", method="POST")
        div.form-group 
            label(for='login') useraname:
            input#login.form-control(type='text', placeholder='ExampleLoginUser' name='username' value=(undefined===username ? '' : user.username), required='true')

            label(for='password') Passwprd:
            input#pass.form-control(type='text', placeholder='12345Pass' name='pass' value=(undefined===pass ? '' : user.pass), required='true')

            button.btn.btn-primary(type='submit') Войти
        .IN 
          a(href="/auth/signup") Зарегистриоваться 

        if errors 
            ul 
                for error in errors 
                    li!= error.msg 