extends adminPage 

block janrs

    div(class='text-center')
        h1=tite 

        div(class='textArray')
            ul 
                each janr_value in janrs_list
                    table(id="tableJanrsAdminPannel")
                        tr 
                            td(class='td_1Kol') 
                                a(href="/admin_mod/catalog"+janr_value.aboutJanr) #{janr_value.janrName} 
                            td(class='') 
                                form(action="/admin_mod/catalog"+janr_value.aboutJanr) 
                                    button(type="submit") Изменить жанр
                            td(class='') 
                                form(action="/admin_mod/catalog"+janr_value.aboutJanr)
                                    button(type="submit") Удалить жанр
                else 
                    p Нет жанров. 

        div(class='btn') 
            form(method='GET' action='/admin_mod/catalog/janr/addNew')
                button.btn.btn-primary(type='submit') Добавить