extends layout
block MusickList

    .normal-theme
        .text-center
            h1= title 
            p.text-center Страница с отображением всех треков

            ul.text-left
                each trak in data 
                    li #[strong Название: ] #{(trak)}
                    | 
                    <audio id="audio" src=#{trak} controls>
                        p I'm sorry but your browser doesn't support the <code>audio</code> element, so you can't run the demo.
                    </audio>
        button(type="submit" onclick="window.location.href='/admin_mod/catalog/tracks/allNotes'") test redirect 
    script(defer type="module" src="/scripts/scriptPlaylist.js")