extends layout
block MusickList

    div(class='text-center')
        h1= title 
        p(class='text-center') Страница с отображением всех треков
        
        p This demo shows how to create a simple APIs-powered audio player. In particular this page uses the Proximity API, the Battery Status API, the Vibration API, the Web Notifications API, and the Ambient Light API.
        //- <audio src='/music/02.Z eit.mp3' controls></audio>
        ul(class='text-left')
            each trak in data 
                li #[strong Название: ] #{(trak)}
                | 
                <audio src=#{trak} controls></audio>
        
        
    div(class='next-values')
   