extends main 

block main_InfoJanr 

    h1(class="align-middle" style='display: inline; padding-right:10px;')=title+' - '+dataJanrItem.name

    div(class="content")
        div(class="row")
            div(class="col-sm")
                div(class="card")
                    div(class="card-body")
                        h5(class="card-title") Жанр #{dataJanrItem.name}
                        h6(class="card-subtitle mb-2 text-body-secondary") Описание жанра
                        p(class="card-text") #{dataJanrItem.descriptions}
                div(class="row")
                    div(class="col")
                        button(class="btn btn-secondary btn_for_back" type="submit") Назад
    div(class="fixed-bottom") 
          div(class="footerText")
            p По всем вопросам можно обращаться ко мне на почту - alexy.alexy98@mail.ru
    script(src="/javascripts/main_InfoJanr.js") 
