doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/styleMainPage.css')
  body
    nav(class="col navbar navbar-expand bg-body-tertiary g-3")
      div(class="col container-fluid justify-content-center")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav me-auto mb-2 ")
            li(class="nav-item")
              a(class="nav-link a_link active" aria-current="page" href="/v1/api/main") Главная
            li(class="nav-item")
              a(class="nav-link a_link" aria-current="page" href="/v1/api/main/users") Другие пользователи
            li(class="nav-item")
              a(class="nav-link a_link" aria-current="page" href="/v1/api/main/janrs") Жанры 
            li(class="nav-item")
              a(class="nav-link a_link" aria-current="page" href="/v1/api/main/music") Композиции 
          div(class="d-flex justify-content-between")
            ul(class="navbar-nav me-auto mb-2 list-unstyled")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Мои Данные 
                ul(class="dropdown-menu")
                  li
                    a(class="nav-link" aria-current="page" href="/v1/api/main/myProfile") Мой профиль 
                  li
                    a(class="nav-link" aria-current="page" href="/v1/api/main/myPlaylists") Мои плэйлисты  
                  li
                    a(class="nav-link" aria-current="page" href="/v1/api/main/myMusic") Мои композиции 
                  li
                    a(class="nav-link" aria-current="page" href="/v1/api/authorization/login") Авторизация
                  li 
                    a(class="nav-link" aria.current="page" href="/v1/api/authorization/signUp") Регистрация
                  li 
                    a(class="nav-link" aria-current="page" href="/v1/api/main/logOut") Выйти
          div(class="d-flex justify-content-end")
            input(class="form-control me-2 searchData" type="text" name="searchData" placeholder="Поиск" aria-label="Поиск") 
            button(class="btn btn-outline-success btn_global_search" type="submit") Найти
    div(class="line")
    br
    div(class="col container text-center g-3")
      div(class="row align-items-start")
        div(class="col-xl-2 col-lg-2 col-md-1 col-sm-0 leftData")
          div(class="child_leftData")
        div(class="col-xl-8 col-lg-8 col-md-10 col-sm-12")
          div(class="row")
            div(class="col")
              div(class="search_section vstack gap-3 list-group list-group-flush hidden")
                div(class="music_search_title")
                | Композиции:
                div(Class="list-group-item music_search")
                div(class="janrs_search_title")
                | Жанры: 
                div(class="list-group-item janrs_search")
                div(class="users_search_title")
                | Пользователи: 
                div(class="list-group-item users_search")
          block main_content
          block listMusic 
          block detailMusic 
          block main_myPlaylists
          block main_myProfile
          block main_myPlaylistDetail
          block main_myMusic
          block MyMusicDetail
          block main_listJanrs
          block main_InfoJanr
          block main_pageUsers
          block main_pageUserInfo
          block main_infoUsersPlaylistById
          block main_searchList
        div(class="col-xl-2 col-lg-2 col-md-1 col-sm-0 rightData")
          div(class="child_rightData")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous")
    script(src="/javascripts/addmusicScript.js") 