extends main 

block main_InfoJanr 

    h1(class="align-middle" style='display: inline; padding-right:10px;')=title+' - '+dataJanrItem.name

    div(class="border border-2 rounded-4 content g-3")
        div(class="row")
            div(class="col-sm g-3")
                div(class="row")
                    div(class="col g-3")
                        h5(class="card-title") Название жанра: #{dataJanrItem.name}
                div(class="row")
                    div(class="col g-3")
                        h6(class="card-subtitle mb-2 text-body-secondary") Описание жанра
                        p(class="text-center") #{dataJanrItem.descriptions}
                div(class="row")
                    div(class="col g-3")
                        button(class="btn btn-secondary btn_for_back" type="submit") Назад
    div(class="fixed-bottom") 
          div(class="footerText")
            p По всем вопросам можно обращаться ко мне на почту - alexy.alexy98@mail.ru
    script(src="/javascripts/main_InfoJanr.js") 
