extends adminPage 

block pageRights

    h1=title 

    div(class="main-content")
        div(class="rights")
            each itemProp in dataProperties
                div(class="item-rights" id=(itemProp._id)) #{itemProp.name}
    div(class="fixed-bottom") 
          div(class="footerText")
            p По всем вопросам можно обращаться ко мне на почту - alexy.alexy98@mail.ru