extends layout

block playlist

    h2=title 
        br

        .btn-class-row
            button(type='submit' onclick="window.location.href='/myPlaylists/add'") Добавить новый
            
        .main-text 
            div(class='textArray')
            ul 
                each treckHasplaylist in playlist_list
                    p 
                        a(class="namePlaylist" href=treckHasplaylist.url) #{treckHasplaylist.NamePlaylistUser} 
                else 
                    p Нет плэйлистов.  