html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(calass="main")
      div(class='page-header')
        h1(class='registration') Регистрация 
      div
        p=message

    form(action="", method="POST")
        div.form-group 
            label(for='username') Ваш username:
            input#username.form-control(type='text', placeholder='username' name='username' value=(undefined===username ? '' : User.username), required='true')

            label(for='email') Ваш email:
            input#email.form-control(type='text', placeholder='email' name='email' value=(undefined===email ? '' : User.email), required='true')

            label(for='pass') Ваш пароль:
            input#pass.form-control(type='text', placeholder='Password' name='pass' value=(undefined===pass ? '' : User.pass), required='true')

            button.btn.btn-primary(type='submit') Зарегистрироваться

        if errorsMSG 
            ul 
                for error in errorsMSG 
                    li!= error.msg 