extends layout

block tempPageLoad 

    h1=title 

    .errorInfo 
        p=dataError

        p kfdjkgdhfgj

        .hide 
            form(action="/auth/refreshToken", method="post") 
                button(type="submit" id='tempBTN') 

    script(defer type="module" src="/scripts/tempScript.js")