extends layout

block UpdateProfile

    div.dataUpdateProfile
        .titleDataUpdate 
            h1=title 
                .formDataUpdate 
                    form(method='POST' action="")
                        .form-group 
                            .userData 
                                .usernameSection
                                    h3 Username: 
                                        input#username.form-control.usernameSection(type='text' placeholder='username' name='username' required='false' value=(undefined===user ? '' : user.username))
                                .emailSection
                                    h3 Email: 
                                        input#email.form-control.emailSection(type='text' placeholder='email' name='email' required='false' value=(undefined===user ? '' : user.email))
                            .userProfileData
                                .FirstNameSection
                                    h3 Имя:
                                        input#FirstName.form-control.FirstNameSection(type='text' placeholder='Имя' name='FirstName' required='false' value=(undefined===userProfile ? '' : userProfile.FirstName))
                                .MidNameSection 
                                    h3 Фамилия: 
                                        input#MidName.form-control.MidNameSection(type="text" placeholder='Фамилия' name='MidName' required='false' value=(undefined===userProfile ? '' : userProfile.MidName))
                                .LastNameSection 
                                    h3 Отчество:
                                        input#lastName.form-control.LastNameSection(type="text" placeholder='Отчество' name='LastName' required='false' value=(undefined===userProfile ? '' : userProfile.LastName))
                                .AboutUserSection 
                                    h3 О себе:
                                        input#AboutUser.form-control.AboutUserSection(type="text" placeholder='О себе' name='AboutUser' required='false' value=(undefined===userProfile ? '' : userProfile.AboutUser))
                        button.btn.btn-primary(type='submit') Изменить       
                    if  errors 
                        ul 
                            for error in errors 
                                li!=error.msg       
    
                